<!-- For Reset Password page -->
<div class="inner-page">

    <auth-header></auth-header>

    <div class="section">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-12">
                    <div class="caption-main">
                        Legal Management System
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="auth-box reset" *ngIf="!successMsg">
                        <mat-progress-bar *ngIf='isSubmitted' color="warn" mode="indeterminate"></mat-progress-bar>
                        <h1>Reset Password</h1>
                        <form [formGroup]="form">

                            <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
                            <!--Password -->
                            <div class="form-field">
                                <mat-form-field class="full-width">

                                    <input matInput type="password" formControlName="password" placeholder="Password" name="password" [(ngModel)]="user.password"
                                        [type]="phide ? 'password' : 'text'" (focusout)="onPasswordFocusOut()" matTooltip='Password should be min 8 digit , max 20 digit and combination of alphanumberic and specified special characters (!@#$%^&*_+) with 1 uppercase letter, 1 lowercase letter and  1 numeric character'
                                        required appBlockCopyPaste >
                                    <mat-icon matSuffix (click)="phide = !phide">{{phide ? 'visibility' : 'visibility_off'}}</mat-icon>

                                    <!-- <mat-error *ngIf="password.hasError('minlength')"> -->
                                    <!-- <mat-error *ngIf="form.controls['password'].errors.pattern">
                            Password should be atleast 8 characters long
                        </mat-error> -->
                                    <!-- <mat-error *ngIf="!password.hasError('minlength') && password.hasError('pattern')"> -->
                                    <mat-error *ngIf="form.controls['password'].errors?.pattern || form.controls['password'].errors?.maxLength">
                                        Please enter a valid password
                                    </mat-error>
                                    <!-- <mat-error *ngIf="password.hasError('required')"> -->
                                    <mat-error *ngIf="form.controls['password'].errors?.required">
                                        Password is
                                        <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!--Confirm Password -->
                            <div class="form-field">
                                <mat-form-field class="full-width">
                                    <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="user.confirmPassword"
                                        [type]="cphide ? 'password' : 'text'" (focusout)="onConfirmPasswordFocusOut()" required appBlockCopyPaste >
                                    <mat-icon matSuffix (click)="cphide = !cphide">{{cphide ? 'visibility' : 'visibility_off'}}</mat-icon>

                                    <!-- <mat-error *ngIf="(password.errors && !password.errors.validateEqual) || ( confirmPassword.errors && !confirmPassword.errors.validateEqual)"> -->
                                    <mat-error *ngIf="form.controls['confirmPassword'].errors?.required">
                                        Confirm Password is
                                        <strong>required</strong>
                                    </mat-error>
                                    <mat-error *ngIf="form.controls['confirmPassword'].errors?.matchPassword">
                                        Confirm Password does not
                                        <strong>match</strong>
                                    </mat-error>

                                </mat-form-field>

                                <mat-error *ngIf="errMsg">
                                    <h4> {{ errMsg }}</h4>
                                </mat-error>
                            </div>
                            <div class="text-right">
                                <button class="lms-round-btn login" [disabled]="!form.valid || errMsg || isSubmitted" (click)="onClickReset()">Reset Password</button>
                            </div>
                        </form>
                    </div>
                    <div class="auth-box" *ngIf="successMsg">
                        <p>{{ successMsg }}</p>
                    </div>
                    <div class="bottom-txt" *ngIf="emailSuccess==false">Try again?
                        <a routerLink="{{gotoUrl}}">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <auth-footer></auth-footer>

</div>